@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All photos on this page are made by me and thus subjected to Copywright Law. Please, be polite and do not break the rules!</p>
